---
const allPosts = await Astro.glob("../pages/posts/*.md");
import { Container } from "../components/container/Container";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import About from "../components/About.astro";
const pageTitle = "blog";
const { title, url } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <Container>
      <div class="wrapper">
        <About />

        <div class="blog__content">
          <h1 class="blog__title">Recent Posts</h1>
          <ul class="blog__list" role="list">
            {
              allPosts.map((post) => (
                <li class="list__item">
                  <a href={post.url}>
                    <p class="date">{post.frontmatter.pubDate.slice(0, 10)}</p>
                    <div class="flex__group">
                      <h3 class="item__title">{post.frontmatter.title}</h3>
                      <div class="tags__group">
                        {post.frontmatter.tags.map((tag: string) => {
                          return <span class="tag">{tag}</span>;
                        })}
                      </div>
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </Container>
  </section>
</BaseLayout>

<style>
  .wrapper {
    padding-block: 50px;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 30px;
    justify-content: center;
  }
  .blog__content {
    width: 100%;
  }
  .blog__title {
    color: #474747;
    font-family: "Roboto Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
    border-bottom: 2px solid #dfdfdf;
    padding-block-end: 10px;
  }
  .blog__list {
    padding-inline-start: 0px;
  }
  .date {
    color: var(--Neutral-Dark-Grey, #777);
    font-family: "Roboto Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-block-end: 24px;
  }
  .list__item {
    padding-block-end: 50px;
    border-bottom: 1px solid #dfdfdf;
  }
  .flex__group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }
  .item__title {
    color: var(--Main-Primary-2, #474747);
    font-family: "Roboto Mono";
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 147.368% */
  }
  .tags__group {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
  }
  .tag {
    display: block;
    color: var(--Main-Primary-2, #474747);
    font-family: "Roboto Mono";
    font-size: 22px;
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    border-radius: 3px;
    background: var(--Neutral-Light-Grey, #f4f4f4);
    width:;
  }
  @media (max-width: 700px) {
    .wrapper {
      flex-wrap: wrap;
    }
  }
</style>
