---
import { Container } from "../components/container/Container";
import InfiniteString from "../components/infiniteString/InfiniteString";
import BaseLayout from "../layouts/BaseLayout.astro";
import Line from "../components/line/Line";
import About from "../components/About.astro";
const pageTitle = "home";
const poems = [
  "I knew a simple soldier boy",
  "Who grinned at life in empty joy,",
  "Slept soundly through the lonesome dark",
  "And whistled early with the lark.",
  "In winter trenches, cowed and glum",
  "With crumps and lice and lack of rum,",
  "He put a bullet through his brain.",
  "No one spoke of him again.",
  "You smug-faced crowds with kindling eye",
  "Who cheer when soldier lads march by,",
  "Sneak home and pray you’ll never know",
  "The hell where youth and laughter go.",
];
---

<BaseLayout pageTitle={pageTitle}>
  <Container>
    <div class="wrapper">
      <About />
      <div class="content">
        <div class="image__box | box-one">
          <img src="/images/blog.jpeg" alt="image" />
        </div>
        <ul role="list" class="list">
          {poems.map((poem) => <li class="list__item">{poem}</li>)}
        </ul>
        <div class="image__box">
          <img src="/images/hero.jpeg" alt="image" />
        </div>
      </div>
    </div>
  </Container>
</BaseLayout>

<style>
  .wrapper {
    padding-block: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .image__box {
    max-width: 300px;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .box-one {
    align-self: self-end;
  }
  .list {
    padding-inline-start: 0px;
    max-width: 300px;
  }
  .list__item {
    color: var(--Main-Primary-2, #474747);
    font-family: "Roboto Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
  }
  .list__item:nth-child(1)::first-letter {
    color: red;
    font-size: 30px;
  }
</style>
