.header{
    border-bottom: 2px solid var(--Main-Primary-3, #FFF300);
    padding-block: 10px;
}
.list{
    display: flex;
    padding-block-start: 0px;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.item__link{
    text-transform: uppercase;
    color: var(--Neutral-Dark-Grey, #777);
    font-family: "Roboto Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.item__link:hover{
    color: #d90429;
    border-bottom: 2px solid #777;
}